version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - api-gateway

  api-gateway:
    build: ./backend/api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service

auth-service:
  build: ./backend/auth-service
  ports:
    - "8081:8081"
  environment:
    MONGO_URI: mongodb://mongo:27017/authdb
    JWT_SECRET: super-secure-jwt-secret-512bits
  depends_on:
    - mongo

  property-service:
    build: ./backend/property-service
    ports:
      - "8082:8082"
    depends_on:
      - mongo
      - kafka

  notification-service:
    build: ./backend/notification-service
    ports:
      - "8083:8083"
    depends_on:
      - mongo
      - kafka

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
